*{
    margin: 0;
    padding: 0;
    font-family:'poppins',sans-serif;

}
 .main_box{ 
    background: url(photo.jpg);
    height: 100vh;
    background-size: cover;
} 
 .btn_one{
    color: white;
    font-size: 30px;
    line-height: 60px;
    position: absolute;
    font: weight 700px;
    left: 16px;
    cursor: pointer;
 }
 .sidebar_menu .btn_two i{
    color: white;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    font: weight 700px;
    left: 260px;
    cursor: pointer;

 }
 .sidebar_menu{
    height: 100vh;
    width: 300px;
    background-color: rgb(255,255, 255,0.1);
    position: fixed;
    box-shadow: 0 0 6px rgb(255,255, 255,0.6);
    left: -300px;
    transition: all 0.2s linear;
 }
 .sidebar_menu .logo{
  position: absolute;
  line-height: 60px;
  width: 100%;
  box-shadow: 0 2px 4px rgb(255,255, 255,0.1);
  height: 60px;
 }
 .sidebar_menu .logo a{
    left: 60px;
    position: absolute;
    color: white;
    text-decoration: none;
 }
.sidebar_menu .main{
position: absolute;
width: 100%;
top: 80px;
}
.sidebar_menu .main li{
    color: white;
    margin: 6px;
    padding: 13px 20px;
}
.sidebar_menu .main li,a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.sidebar_menu .main i{
    padding-right: 8px;
}
.sidebar_menu .social_media{
   position: absolute;
    bottom: 20px;
    left: 25%;
   color: antiquewhite;
}
.sidebar_menu .social_media i{
    padding: 2px;
}
#check{
    display: none;
}
.sidebar_menu .main
 li:hover{
    box-shadow: 0 0 4px rgb(255,255, 255,0.6);
}
.sidebar_menu .social_media 
i:hover{
color:whitesmoke;
transform: scale(1.3);
}
.btn_one i:hover{
    font-size:40px;
}
.btn_two i:hover{
    font-size: 27px;
    opacity: 0.5;
    
}
#check:checked ~ .sidebar_menu{
    left: 0;
}
#check:checked ~ .btn_one i{
    opacity: 0;
    
}
#check:checked ~ .sidebar_menu .btn_two 
i{
    opacity: 1;
}
.sidebar_menu .btn_two i :hover{
    background-color: black;
    opacity: 0.5;
}
